menu "Baseband Security Guard Configuration"

config BBG
       bool "Enable Baseband Guard (Anti-Format)" 
       default y
       depends on SECURITY
       help
          An Android baseband anti-formatting protector 
          module by Github@showdo, preventing malicious
          scripts or programs writing into important
          function partitions.
          If unsure, leave this y.

config BBG_ALLOW_IN_RECOVERY
       bool "Turn off Baseband Protection in Recovery Mode"
       depends on BBG
       default y
       help
          Turn off protection in recovery mode, in
          order that repairing system partitions can
          be done in recovery mode.
          If unsure, leave this y.

config BBG_BLOCK_BOOT
       bool "Enable Baseband Protection for Boot Partition"
       depends on BBG
       default n
       help
          Enable protection for boot partition to
          prevent malicious scripts or programs
          destroying, however this may cause failure
          when flashing kernels in Android system
          (meaning that you'll only be able to flash
          kernels/boot partition image in recovery/
          fastboot mode).
          If unsure, leave this n.

config BBG_BLOCK_RECOVERY
       bool "Enable Baseband Protection for Recovery Partition"
       depends on BBG
       default n
       help
          Enable protection for recovery partition to
          prevent malicious scripts or programs
          destroying, however this may cause failure
          when flashing custom recs in Android system
          (meaning that you'll only be able to flash
          recovery partition image in fastbootd/
          bootloader mode).
          If unsure, leave this n.

config BBG_DOMAIN_PROTECTION
       bool "Interception for malicious Selinux domain switching"
       depends on BBG
       default y
       help
          An improved version of BBG_ANTI_SPOOF_DOMAIN's 
          selinux state protection, which prevents malicious 
          processes from switching selinux domain names
          without intercepting selinux state modifications.
          If unsure, leave this y.

config BBG_ANTI_SPOOF_DOMAIN
       int "Anti Domain Spoof"
       depends on BBG
       default 3
       help
          If input 1: selinuxfs setenforce will get -EACCES,
            any process cannot change selinux to permissive;
          If input 2: when set selinux to permissive once,
            bbg will not trust any domain;
          If input 3: bbg will not process spoof domains.
          NOTE: If CONFIG_BBG_DOMAIN_PROTECTION is enabled,
            this configuration can be turned off (to avoid
            affecting the operation of some programs that
            need to set selinux to permissive).
          If unsure, leave this 3. 

endmenu
